.block {
	border-radius: 10px;
	background-color: #e1f7fd;
	padding: 1rem;
}

.title {
	font-size: 1.25rem;
	font-weight: 500;
	margin-top: 0;
	text-align: center;
	display: block;
}

.text {
	margin: 0;
	font-size: 2rem;
	text-align: center;
	letter-spacing: 0.1px;
	font-weight: 600;
	display: block;
}
