.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(45deg, #e6646440, #9198e540, #9198e530);
}

.smallText {
	font-size: 0.75rem;
	font-weight: 600;
	margin-top: 0.5rem;
	display: block;
	text-align: end;
}
