.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.totalKm {
	font-size: 0.85rem;
}

.dangerButton {
	background-color: crimson;
	color: white;
	font-weight: 600;
	padding: 0.5rem;
	position: fixed;
	bottom: 0;
}
